node_modules/
lib/
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.nyc_output
coverage/
*.tgz
*.tar.gz
example/node_modules/
example/ios/build/
example/android/build/
example/android/.gradle/
example/android/app/build/

# Environment variables (contains sensitive data)
.env
example/.env
*.env
!.env.example